* {
  box-sizing: border-box;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.12) 100%);
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
}

td:hover {
  border: 2px solid #59065f;
  transform: scale(1.05)
}

.endgame {
  display: none;
  background-color: #59065f;
  border-radius: 10px;
  position: absolute;
  width: 150px;
  height: 100px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.form-userinput {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  top: 50%;
  font-weight: bolder;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 65px;
  height: 65px;
  z-index: 10;
  margin-top: 10px;
}

.selection-container {
  position: absolute;
  top: 50%;
  transform: translate(75vw, -50%);
}

.selection {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.12) 100%);
  border: 2px solid white;
  width: max-content;
  padding: 2px 10px;
  margin: 10px;
}

.selection:hover {
  color: #59065f;
  border: 2px solid #59065f;
  transform: scale(1.1);
}

.verses {
  font-size: 2em;
  position: relative;
  bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}



